.header {
  grid-area: header;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(149,149,149,0.25);
  position: relative;
  z-index: 10; 
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 20px;
  overflow: visible; 
}
.left-section {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo-and-text {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  height: 40px;
  margin-right: 20px;
}

.text {
  color: #080a0b;
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.settings-icon-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: flex-end; 
  margin-left: auto;
  position: relative;
  z-index: 11; 
  overflow: hidden;
}

.icon {
  color: #7a52f4;
  fill: #7a52f4;
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  z-index: 12; 
  transition: fill 0.3s ease;
  padding: 0 10px
}


.icon:hover {
  fill: #6642d1; 
}

/* Breadcrumb styles */
.left-section {
  display: flex;
  align-items: center;
  overflow: visible; 
  max-width: calc(100% - 140px); 
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb-item {
  color: #939393;
  transition: color 0.3s ease;
}

.breadcrumb-item:hover {
  cursor: pointer;
}

.breadcrumb-item.current-item {
  color: #080a0b;
}

.breadcrumb-separator {
  margin: 0 10px;
  color: #939393;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px;
  }

  .logo-and-text {
    margin-bottom: 10px;
  }

  .logo {
    height: 30px;
    margin-right: 10px;
  }

  .text, .breadcrumbs {
    font-size: 16px;
    line-height: normal;
  }

  .settings-icon-container {
    margin-left: 20px;
  }

  .icon {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 480px) {
  .text, .breadcrumbs {
    font-size: 14px;
  }

  .settings-icon-container {
    margin-left: 10px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}